$white: hsl(0, 0%, 93%);
$dark-blue: #3c3c44;
$gray: hsl(0, 0%, 50%);
$black: rgba(0,0,0,0.2);

@mixin sm {
  @media all and (min-width: 375px) {
    @content;
  }
}

@mixin large {
  @media all and (min-width: 1440px) {
    @content;
  }
}

@mixin grid-2-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

@mixin fetch-container($width, $height) {
  background-color: $gray;
  min-width: $width;
  min-height: $height;
  border-radius: 5px;
  transition: 1000ms;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1') no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

// CONTAINERS
.container {
  padding: 2em 1em;
  max-width: 1440px;
  margin: 0 auto;
}


// TIME
.time {
  margin-bottom: 2rem;

  &__hour {
    font-size: 3rem;
    font-weight: 300;
  }

  &__meridian {
    font-size: 1.5rem;
    font-weight: 100;
  }

  &__date {
    font-size: 1.2rem;
    font-weight: 200;
  }
}


// LOCATION
.location {
  margin: 1rem 0;

  @include sm {
    text-align: right;
  }

  &__timezone {
    font-size: 1.5rem;
    font-weight: 200;
  }

  &__coords {
    font-weight: 700;
  }
}


// FORECAST
.forecast {
  border: 1px solid $white;
  border-radius: 10px;
  padding: 1em;
  margin: 0 0.5rem;
  background: $black;
  min-width: 150px;
  min-height: 220px;
  text-align: center;

  &--first {
    min-width: 270px;
    text-align: unset;

    @include sm {
      min-width: 320px;
    }
    @include large {
      min-width: 400px;
    }
  }

  &__icon {
    margin: 0 auto;
    width: 80px;

    &-2 {
      margin: auto;
      width: 110px;
    }
  }

  &__day {
    background: $dark-blue;
    padding: 0.3em 0.5em;
    width: fit-content;
    border-radius: 20px;
    min-width: 60px;
    display: inline-block;
  }

  &__temp {
    font-size: 0.9rem;

    &-2 {
      font-size: 1.2rem;
    } 
  }
}


// CARD
.card {
  background: rgba(24,24,27, 0.6);
  font-weight: 200;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid $white;
  max-width: 300px;
  
  &-2 {
    background: rgba(24,24,27,0.8);
    overflow-x: scroll;
    padding: 3em 1em;

    @include large {
      overflow-x: unset;
      display: flex;
      justify-content: center;
    }
  }

  &-3 {
    @include fetch-container(270px, 220px);
    background: $black;
    border: 1px solid $white;
    padding: 1em;
    margin: 0 0.5rem;
    animation-name: unset;
  }

  &-4 {
    @include fetch-container(150px, 220px);
    border: 1px solid $white;
    padding: 1em;
    margin: 0 0.5rem;
    background: $black;
    animation-name: unset;
  }
}



// FLEX CONTAINER

.flex {
  display: flex;
}

.flex-container-1 {
  display: flex;
  justify-content: space-between;
}

.flex-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include large {
    justify-content: center;
  }
}


.flex-container-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


// GRID CONTAINER
.grid-align-center {
  display: grid;
  align-items: center
}

.grid-2-column {
  @include sm {
    @include grid-2-column;
  }
}

.grid-2-column-2 {
  @include grid-2-column;
}




// UTILIIES
.position-item {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.fetching-data {
  @include fetch-container(100px, 20px);
  display: inline-block;

  @include sm {
    width: 30px;
  }

  &-2 {
    @include fetch-container(170px, 50px);
    display: inline-block;
  }

  &-3 {
    &__container {
      &-1 {
        @include fetch-container(110px, 110px);
        margin: auto;
      }

      &-2 {
        @include fetch-container(100%, 30px);
      }
    }

  }

  &-4 {
    &__container {
      &-1 {
        @include fetch-container(50px, 30px);
        margin: auto;
      }

      &-2 {
        @include fetch-container(100%, 80px);
      }
      
      &-3 {
        @include fetch-container(100%, 10px);
        margin: 0.5rem 0;
      }
    }
  }
}

.width-full {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.hide {
  opacity: 0;
}